{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/AMSPupscale.png' %}" width="70px" class="nav-icon">
                    </a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
                    <img src="{% static 'img/menu.png' %}" class="menu-icon" onclick="menutoggle()" align="right">
                </nav>
            </div>
        </div>
    </div>

    <!-- title -->

    <div class="txtheader">
        <h1>About</h1>
    </div>

    <!-- text -->
    <div class="abouttxt">
        <h2>Our Mission</h2>
        <p class="fontabouttxt">Our mission is to make stock trading accessible to everyone. The way in which we did this is by creating a machine learning model that can predict the stock price for 1,000+ stocks, all at the click of a button. In doing so, we take the power out of the professionals on Wall Street, and put it in your hands, by allowing you to see the forecast of a stock, and decide whether or not your investment will pan out well. </p>
    </div>

    <div class="abouttxt">
        <h2>How it Works</h2>
        <p class="fontabouttxt">All you have to do is enter the ticker symbol for the stock you are interested in looking at, into the search bar on our front page. Once you do that, you will be taken to a page that displays a time-series graph with the price of the stock you are interested in over the past 30 days and the next 7 days, based on our models predictions.

        </p>
    </div>

    <div class="abouttxt">
        <h2>Terms of Service</h2>
        <p class="fontabouttxt">This model was made and run by students. Hence, we are not professional. As a result, all predictions should be taken with a grain of salt.
        </p>
    </div>

    <!-- to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="{% static 'img/arrow.png' %}">
    </button>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <!-- footer -->

    <hr class="footline">
    <div class="foot">
        <div class="footitems">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/AMSPupscale.png' %}" width="70px">
            </a>
        </div>
        <div class="footitems">
            <p>
                <a href="{% url 'about' %}">About</a>
            </p>
        </div>
        <div class="footitems">
            <p>
                <a href="{% url 'about' %}" target="_blank">Terms</a>
            </p>
        </div>
        <div class="footitems">
            <p>
                <a href="mailto:abhakta22@andover.edu">Contact</a>
            </p>
        </div>
        <div class="foot-a1">
            <div class="footitems-a1">
                <p>
                    <a href="https://github.com/PatrickC05/blueprint-2021" target="_blank">Created by AMSP Stocks</a>
                </p>
            </div>
        </div>
    </div>

    <!-- toggle menu -->

    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

{% endblock %}
