{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- nav bar -->

    <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'img/amsp.png' %}" width="70px" class="nav-icon">
                        </a>
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <li>
                                <a href="about.html">About</a>
                            </li>
                        </ul>
                        <img src="{% static 'img/menu.png' %}" class="menu-icon" onclick="menutoggle()" align="right">
                    </nav>
    
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-2">
                <h1>Bringing you the hottest stocks</h1>
                <p>
                    <br>
                    <!-- <a href="about.html" class="btn">Learn more about us &#8594;</a> -->
                </p>
            </div>
        </div>
        
        <div class="searchBox">
    
                <input class="searchInput"type="text" name="" placeholder="Search...">
                <button class="searchButton" href="#">
                    <i class="icon">
                        <img src="{% static 'img/searchicon.svg' %}" alt="searchicon"/>
                    </i>
                </button>
            </div>
    
        <div class="row1">
            <div class="col-3">
                <!-- <a href="whole-foods.html"> -->
                    <!-- <img src="whole-foods-logo.png"> -->
                    <h2>AAPL
                        <p class="fontscoretxt">
                            <b>12312</b></p>
                    </h2>
                    <p class="p1">AAPL</p>
                </a>
            </div>
            <div class="col-3">
                <!-- <a href="whole-foods.html"> -->
                    <!-- <img src="whole-foods-logo.png"> -->
                    <h2>AAPL
                        <p class="fontscoretxt">
                            <b>4112312</b></p>
                    </h2>
                    <p class="p1">AAPL</p>
                </a>
            </div>
            <div class="col-3">
                <!-- <a href="whole-foods.html"> -->
                    <!-- <img src="whole-foods-logo.png"> -->
                    <h2>AAPL
                        <p class="fontscoretxt">
                            <b>12342</b></p>
                    </h2>
                    <p class="p1">AAPL</p>
                </a>
            </div>
        </div>
        <a href="database.html" class="btn1">Full database &#8594;</a>
    
    
        <!-- rubric and text template -->
        <div class="cont">
            <div class="col-3-info">
                <p class="fontheadtxtpage">Transparency</p>
                <p class="p1">All of our prediction are based on our novel approach to predicting stock prices.
                    <br>
                    <a href= "database.html" class="btn2">About our approach &#8594;</a>
                </p>
            </div>
            <div class="col-3-info">
                <p class="fontheadtxtpage">Student Run</p>
                <p class="p1">AMSP Stocks is run completely by students who want to help you improve your stock portfolio.
                    <br>
                    <a href= "database.html" class="btn2">Join us &#8594;</a>
                </p>
            </div>
            <div class="col-3-info">
                <p class="fontheadtxtpage">Educational</p>
                <p class="p1">
                    Our mission is to make it so the stock market is accessible for everyone.
                    <!-- All of our rating are based solely on facts provided by 
                            credited sources. Regardless of how businesses market themselves, 
                            we provide an honest rating of their systems in place to reduce food waste. -->
                    <br>
                    <a href= "database.html" class="btn2">Learn more &#8594;</a>
                </p>
            </div>
        </div>
    
    
        <!-- to top button -->
    
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <img src="{% static 'img/arrow.png' %}">
        </button>
    
        <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () { scrollFunction() };
    
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
    
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    
        <!-- footer -->
    
        <hr class="footline">
        <div class="foot">
            <div class="footitems">
                <a href="index.html">
                    <img src="{% static 'img/amsp.png' %}" width="70px">
                </a>
            </div>
            <div class="footitems">
                <p>
                    <a href="about.html">About</a>
                </p>
            </div>
            <div class="footitems">
                <p>
                    <a href="about.html" target="_blank">Terms</a>
                </p>
            </div>
            <div class="footitems">
                <p>
                    <a href="mailto:abhakta22@andover.edu">Contact</a>
                </p>
            </div>
            <div class="foot-a1">
                <div class="footitems-a1">
                    <p>
                        <a href="https://www.linkedin.com/in/arnav-bhakta-588a771a7" target="_blank">Created by AMSP Stocks</a>
                    </p>
                </div>
            </div>
        </div>
    
        <!-- toggle menu -->
    
        <script>
            var MenuItems = document.getElementById("MenuItems");
    
            MenuItems.style.maxHeight = "0px";
    
            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>

{% endblock %}